<section class="top-home">
    <a href="/search">
        <div class="top-home__search">输入书名/作者/关键字</div>
    </a>
    <div class="slider-banner">
        <div>
            <img class="cover" src="http://image.read.duokan.com/mfsv2/download/fdsc3/p01tBqnupVze/qayTXiXrMm1lVm.jpg" />
        </div>
    </div>
    <ul class="top-home__btn">
        <li>
            <a href="/male">
                <img src="/static/img/male.png" alt="" class='top-home__icon'>
                <p class="top-home__des">男生</p>
            </a>
        </li>
        <li>
            <a href="/female">
                <img src="/static/img/female.png" alt="" class='top-home__icon'>
                <p class="top-home__des">女生</p>
            </a>
        </li>
        <li>
            <a href="/male">
                <img src="/static/img/category.png" alt="" class='top-home__icon'>
                <p class="top-home__des">分类</p>
            </a>
        </li>
        <li>
            <a href="/male">
                <img src="/static/img/rank.png" alt="" class='top-home__icon'>
                <p class="top-home__des">排行</p>
            </a>
        </li>
    </ul>
</section>